@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Poppins:wght@400;500;600&display=swap");

/* All font family which is use in this project  */

/* 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* utility classes :  */

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondery-font-family: "Nunito Sans", sans-serif;
  --dark-bg-color: #091428;
  --light-bg-color: azure;
  --accent-color: #04f4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-bg-color);
}
.ham {
  width: 100%;
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--light-bg-color);
  font-family: var(--primary-font-family);
}
#nav-menu{
  /* border-bottom: 1px solid var(--accent-color); */
  box-shadow: 5px 0px 25px var(--accent-color);
}
.logo {
  margin: 0 20px;
}
nav {
  margin: 0 20px;
}
.nav-menu {
  display: flex;
  gap: 60px;
}
.nav-links {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--light-bg-color);
}

.menu {
  display: none;
  margin: 0 20px;
  cursor: pointer;
}
.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--light-bg-color);
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ----- Home section ------ */

#home {
  margin-top: 70px;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 10;
  font-family: var(--primary-font-family);
}

#home > div {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.details-div {
  width: 55%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.details-div > div:first-child {
  margin-left: 120px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.details-div h1 {
  font-size: 50px;
  color: var(--light-bg-color);
}

.details-div h2 {
  font-size: 40px;
  color: var(--light-bg-color);
}

.details-div h3 {
  font-size: 30px;
  position: relative;
  z-index: 2;
  color: var(--accent-color);
}

.details-div h3::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: var(--dark-bg-color);
  border-left: 2px solid var(--accent-color);
  width: 100%;
  height: 100%;
  animation: animate 4s steps(16) infinite;
  transition: all 0.35s;
  z-index: 0;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.btn-pack {
  display: flex;
  margin-top: 20px;
}
.btn-pack > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-pack > div > i {
  font-size: 35px;
  margin-left: 15px;
  cursor: pointer;
}
.btn-pack > div > i:hover {
  color: var(--accent-color);
}
.resume-btn {
  display: block;
  width: 150px;
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 18px;
  text-decoration: none;
  color: var(--light-bg-color);
  font-weight: bold;
  border: 2px solid var(--light-bg-color);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.resume-btn span {
  position: relative;
  z-index: 2;
}

.resume-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background: var(); */
  background: -webkit-linear-gradient(to right, #246d86, var(--accent-color));
  background: linear-gradient(to right, #246d86, var(--accent-color));
  transition: all 0.35s;
}

.resume-btn:hover {
  color: #fff;
}

.resume-btn:hover:after {
  width: 100%;
}
.social-icon{
    color: var(--light-bg-color);
}
.image-icon {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease;
  position: relative;
}
.image-icon > div {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animated 2.5s linear infinite;
}

.image-icon .background {
  background: var(--accent-color);
   background: -webkit-linear-gradient(to right, #246d86, var(--accent-color));
  background: linear-gradient(to right, #246d86, var(--accent-color));
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  border-radius: 57% 43% 38% 62% / 64% 41% 59% 36%;
}

.image-icon img {
  width: 70%;
  z-index: 5;
}

@keyframes animated {
  0% {
    top: 0%;
  }

  25% {
    top: 2.5%;
  }

  50% {
    top: 5%;
  }
  75% {
    top: 2.5%;
  }

  100% {
    top: 0%;
  }
}


/* --- About Section ---- */

#about>img{
  width:100%;
}
#about{
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--primary-font-family);
}
.main-about{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-color)
}

.my-details{
  width:75%;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
}

.my-details>div:first-child{
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.my-details>div:first-child>div{
  background-color: #fff;
  box-shadow: 0px 0px 4px 4px var(--accent-color);
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
}

.my-details>div:first-child>div>img{
  width:100%;
  border-radius: 50%;
}

.my-details>div:last-child{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px 25px;
}

#user-detail-name{
  color:var(--accent-color);
  margin-bottom: 10px;
  font-size: 25px;
}

#user-detail-intro{
  font-size: 18px;
  color:var(--light-bg-color);
  text-align: center;
  margin: 20px;
  letter-spacing: 0.1px;
}

#contact-btn{
  margin: 10px;
  font-size: 18px;
  color:var(--dark-bg-color);
  padding: 8px 12px;
  border-radius: 10px;
  background-color:var(--light-bg-color);
  border: 2px solid #ECE9E6;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

#contact-btn:hover{

  border: 2px solid var(--accent-color);
  background-color: var(--dark-bg-color);
  color:var(--light-bg-color)
}

.past-info{
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  width:80%
}

.past-info>div{
  border:2px double #f0422f;
  text-align: center;
  color: white;
  margin: 10px 10px;
  border-radius: 25px;
}
.past-info>div>div{
  padding: 5px;
  margin: 5px 10px ;
}

